


<div style="color: silver; background:none;" class='container'>

      <div class="col-lg-12">

Price: <%=@claims.price%><br>
Status: <%=@claims.status%><br>
Type of claim: <%=@claims.type_of_claim%><br>
Description: <%=@claims.description%><br>

</div>
</div>

<iframe class="editIframe"  src="https://www.youtube.com/embed/b4nxxqa4Pdg?autoplay=1&controls=0&loop=1&list=PLQmom3TCTIdxE5LtGYLQ5rcKYV81ldta9;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
</iframe>
